p.text-center.pt-4.px-4 Campaña vigente desde el  XX de xxxx hasta el XX de xxxxx de 2021.
footer.footer
  .container 
    .row.menu-footer
      .col-md-3
        a(href='how_to_participate.html') Cómo participar
      .col-md-3
        a(href="frequent_questions.html") Preguntas frecuentes
      .col-md-3
        a(href="") Términos y condiciones
      .col-md-3
        a(href="contact.html") Contáctanos
    .row.justify-content-between.py-4.position-relative
      img.d-md-none.legal(src="./img/brand/legal.svg", alt="")
      .col-md-3
        img.d-none.d-md-inline-block(src="./img/brand/legal.svg", alt="")
      .col-md-3.py-4.py-md-0
        img.logo-footer(src="./img/brand/logo-footer.svg", alt="")
      .col-md-3
        p.px-4 Copyright © 2021 Grupo Bancolombia
//- .tour-backdrop