section.header-brand.header-brand-menu
  .container 
    .row.justify-content-center
      .col-12.text-center
        a(href='index.html')
          img.img-fluid(src='img/brand/logo-header.svg')
        hr
  .container.py-3
    .row 
      .col-7
        h2: strong Catálogo de bonos
      .col-5.d-flex.align-items-center.justify-content-end
        a.logout(href='index.html') Cerrar sesión
          img(src='img/icons/log-out.svg')