.menu-burger
  .items 
    a(href="challenges.html").item
      p Retos
      .icon
        img(src="img/icons/retos.png", alt="")
    a(href="redemptions_data.html").item
      p Redención y acumulación
      .icon
        img(src="img/icons/redencion.png", alt="")
    a(href="special_awards.html").item
      p Premios especiales
      .icon
        img(src="img/icons/premio.png", alt="")
    a(href="catalogue_bonds.html").item
      p Catálogo de bonos
      .icon
        img(src="img/icons/tiket.png", alt="")
    a(href="calculating_login_values.html").item
      p Tu meta
      .icon
        img(src="img/icons/tema.png", alt="")
  .icons#burger
    .bar
    .bar
    .bar