extends ./layouts/app

block title
  title Retos - Pásala Ganando / Bancolombia

block content
  include partials/menu
  section.calculating_login(data-crumb='Retos')
    .container 
        .row.justify-content-center.py-4
          .col-md-5.text-center
            p Desafíate, cumple estos retos y 
              strong acumula más cupones para participar por ese premio especial que quieres al final de la campaña.   
            p
              a.here(href="#") Encuentra los cupones que llevas acumulados aquí
        .row.justify-content-center
          .col-md-5
            .challeng.row.mx-0.align-items-center
              .col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.active.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto cumplido
            .challeng.row.mx-0.align-items-center
              .col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
            .challeng.row.mx-0.align-items-center
              .title-content.col-12.text-center
                p.title: strong Reto: siempre a la mano
              .img.col-4.p-0
                img.w-100(src="img/assets/RetoCard1.png", alt="")
              .text.col-8.text-center
                p.mb-2.paragraph Descubre cómo ganar con Garmin Pay, Fitbit Pay o Billetera Móvil Bancolombia y suma cupones.
                p.number: strong 100 cupones
                a.button.button-white(href="detail_challenges.html") Ver detalle
              .col-12.pt-3.complete-content
                p.complete Reto sin cumplir
  include partials/menu-float
  include partials/footer